.card {
  @include spacing('margin', 'bottom', 'half');
  @include spacing('padding', 'all', 'half');
  background: $page;
  border-radius: 16px;

  P:last-of-type {
    margin-bottom: 0;
  }
}

.card--np {
  padding: 0;
}

.card--nm {
  margin-bottom: 0;
}

.card--shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.card--link {
  display: block;
  width: 100%;
  @include spacing('margin', 'bottom', 'half');
  padding: $half-spacing-unit 0;
  border-bottom: 5px solid rgba(15,114,152,0.1);
  transition: all 0.15s ease;

  &:hover {
    border-bottom: 5px solid $coop-link-hover-blue;

    .card--link__title {
      text-decoration: none;
      color: $coop-link-hover-blue;
    }
  }

  .card--link__title {
    font-family: $medium;
    color: $coop-link-blue;
    text-decoration: underline;
    display: inline;
    @include spacing('margin', 'bottom', 'half');
  }

  .card--link__p {
    margin-top: -16px;
  }

  .status {
    margin-left: 12px;
  }
}

.card--link--heading {
  @include spacing('padding', 'bottom', 'half');

  &:hover .card--link__p {
    border-bottom: 0;
  }

  .card--link__title {
    color: $body-copy;
    font-family: $bold;
    border-bottom: 0;
    @include spacing('margin', 'bottom', 'quarter');
  }

  .card--link__p {
    display: inline;
    line-height: 1.1;
    font-size: em-calc(22px);
    @include link;
  }

}
