.Header {
  justify-content: space-between;
  background-color: #AB288C;
  box-shadow: none;
  @include spacing('padding', 'all', 'half');
}

.header-main {
  color: #fff;
  border-bottom: none;
  @include spacing('margin', 'bottom', 'base');
  padding-top: 5px;
  padding-bottom: 0px;
  @include media(medium) {
    padding-top: 5px;
    padding-bottom: 0px;
  }
 a {
    color: #fff;
    border: 0;
    &:hover {
      border: 0;
    }
 }
}

.Header-button {
  position: absolute;
  background: $grey-mid;
  left: 215px;
  top: 28px;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  z-index: 9999;
  transition: all .25s ease;

  &:hover {
    background: darken($grey-mid, 10%);
  }
}

.is-closed .Header-button {
  left: 250px;
}


.Header-navToggle svg {
  position: relative;
  left: 0px;
  bottom: 1px;
}

.Header-title {
  margin-left: 0px;
  line-height: 0.4;
  padding: 0 0 3px 0;

  img {
    width: 38px;
    height: 40px;
  }
}
