.primary-nav {
  float: right;
  clear: none;
  margin-top: 15px;

  ul {
    list-style: none;
    margin: 0;
    text-align: left;
    padding-left: 0;

    .active {
      a {
        padding-right: 0;
        padding-bottom: 30px;
        border-bottom: 5px solid $white;

        @include media(medium) {
          padding-bottom: 53px;
        }
      }
    }

    li {
      display: inline-block;
      padding-right: 20px;
      // padding-bottom: $quarter-spacing-unit;

      &:last-child {
        padding-right: 0;
      }

      @include media(medium) {
        padding-right: 30px;
      }
    }

    a {
      text-decoration: none;
      &:hover {
        color: $page;
      }
    }
  }
}

.in-page-nav {
  border-left: 5px solid lighten($purple-mid, 50%);
}

.primary-nav .Tree-title {
  display: none;
}

[dir="ltr"] .primary-nav .Tree-depth-1 .Tree-entityLink {
  padding: 0 0 25px 0;
  border-left: 0;
  margin-bottom: 0;
  margin-left: 0;
}

[dir="ltr"] .primary-nav .Tree-depth-1 .is-current .Tree-entityLink {
  border-bottom: 5px solid $white;
  border-left: 0;
  background: transparent;
  padding-bottom: 20px;
  margin-left: 0;
  color: $page;
}
