.Frame,
.Pen {
  overflow: hidden;
  height: 100%;
  width: auto;
}

.Frame {
  overflow: hidden;
  height: auto;
  width: auto;
}

.ds-pen__header {
  margin-bottom: $quarter-spacing-unit;
}

.ds-pen-intro {

  p {
    font-size: em-calc(24px);
    font-family: $medium;
  }
}

.ds-pen-example__header {
  padding: $half-spacing-unit $half-spacing-unit 0 $half-spacing-unit;
  @include clearfix();
}

.ds-pen-example__tools {
  border-top: 1px solid #f3f3f3;
  @include spacing('margin', 'top', 'half');
  @include spacing('margin', 'bottom', 'half');
  @include spacing('padding', 'top', 'half');
}

.ds-section {
  @include spacing('margin', 'bottom', 'base');

  ul {
    margin-left: $half-spacing-unit;
  }
}

.Frame-inner {
  position: static;
  overflow: visible;
  min-height: 0px;
  margin-top: 12px;
}

.Pen,
.Document {
  overflow: visible;
  padding-top: 40px;
  @include spacing('padding', 'right', 'base');
  @include spacing('padding', 'bottom', 'half');
  @include spacing('padding', 'left', 'base');
}

.Pen-title {
  @include heading-h1;
}

.Pen-header {
  display: block;
  max-height: 9999px;
  padding: 0;
}

.Pen-info {
  border: 0;
}

.Preview {
  border: 0;
  background: $page;
}

.Pen-preview {
  margin: 0;
}

.Preview-wrapper,
.Preview-resizer,
.Preview-iframe {
  position: static;
}

.Code pre {
  padding: 0 0 $base-spacing-unit 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.ds-section .responsive-list {
  margin-left: 0;
}

.responsive-list {
  list-style: none;
  display: block;
  margin: 0;

  .responsive-list--item {
    display: inline-block;
    text-align: center;

    .responsive-list--item-link {
      display: inline-block;
      font-size: 1rem;
    }
  }
}

#breakpoint-viewer {
  margin: 0 auto $quarter-spacing-unit auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;

  // Overrides the fractal stuff
  &.xsmall-width {
    max-width: 320px !important;
    min-width: 320px !important;
    width: 320px !important;
  }
  &.small-width {
    max-width: 480px !important;
    min-width: 480px !important;
    width: 480px !important;
  }
  &.medium-width {
    max-width: 750px !important;
    min-width: 750px !important;
    width: 750px !important;
  }
  &.large-width {
    max-width: 990px !important;
    min-width: 990px !important;
    width: 990px !important;
  }
  &.xlarge-width {
    max-width: 1300px !important;
    min-width: 1300px !important;
    width: 1300px !important;
  }
}

.Browser {
  position: static;
}

.Code {
  background: $page;

  pre {
    background: $page;
  }
}

.Browser-controls {
  box-shadow: none;
}

.ds-section {
  ul {
    list-style-type: disc;
  }
  .list-bare {
    list-style-type: none;
  }
}
