[dir="ltr"] .Pen-header .Status {
  // display: block;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-padding-start: 0;
  padding-inline-start:  0;
  display: inline;
  vertical-align: text-bottom;
  position: relative;
  top: -5px;
}

.ds-status {
  p {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-family: $bold;
  }
}

.Status-label {
  border-radius: 0;
  font-size: 1rem;
  font-family: $regular;
  display: inline;
  padding: 6px 20px;
  margin-left: $quarter-spacing-unit;
  text-transform: capitalize;
  letter-spacing: 0;
}

.Status-dot {
  display: none;
}
