[dir="ltr"] .Pen-header .Status {
  display: block;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-padding-start: 0;
  padding-inline-start:  0;

}

.ds-status {
  p {
    margin-bottom: 0;
  }
}

.Status-label {
  border-radius: 0;
  font-size: 1rem;
  padding: 1rem 2rem;

}

.Status-dot {
  display: none;
}
